@theme "/home/lwb/.local/share/rofi/themes/rounded-purple-dark.rasi"
configuration {
  modes: "window,drun,run,ssh";
  font: "sans-serif 16";
  show-icons: true;
  icon-theme: "BeautyLine";
  sidebar-mode: true;
  kb-mode-next: "Shift+Right,Tab";
  kb-element-next: "";
 
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  icon {
    theme: "BeautyLine";
  }

  
}

* {
  font: "sans-serif 14";
}
window {
  location: center;
  width: 720px;
  height: 560px;
}
