[Desktop Entry]
Type=Action
Name=Send via Blueman
Name[zh]=通过蓝牙发送
Icon=blueman-send-file
Profiles=send;

[X-Action-Profile send]
Exec=blueman-sendto %F
MimeTypes=all/allfiles;
SelectionCount==1

